/* NOTE: resets all properties, apart from unicode-bidi and direction,
   to their initial or inherited value. */

.all-initial {
  all: initial;
}

.all-inherit {
  all: inherit;
}

.all-unset {
  all: unset;
}
