/* background-attachment */

.bg-attach-scroll {
  background-attachment: scroll;
}

.bg-attach-fixed {
  background-attachment: fixed;
}

.bg-attach-local {
  background-attachment: local;
}

.bg-attach-initial {
  background-attachment: initial;
}

.bg-attach-inherit {
  background-attachment: inherit;
}

/* end of background-attachment */

/* background-clip */

.bg-clip-border {
  background-clip: border-box;
}

.bg-clip-padding {
  background-clip: padding-box;
}

.bg-clip-content {
  background-clip: content-box;
}

.bg-clip-initial {
  background-clip: initial;
}

.bg-clip-inherit {
  background-clip: inherit;
}

/* end of background-clip */

/* background-color */

.bg-color-transparent {
  background-color: transparent;
}

.bg-color-initial {
  background-color: initial;
}

.bg-color-inherit {
  background-color: inherit;
}

/* end of background-color */

/* background-origin */

.bg-origin-padding {
  background-origin: padding-box;
}

.bg-origin-border {
  background-origin: border-box;
}

.bg-origin-content {
  background-origin: content-box;
}

.bg-origin-initial {
  background-origin: initial;
}

.bg-origin-inherit {
  background-origin: inherit;
}

/* end of background-origin */

/* background-position */

.bg-pos-left-top {
  background-position: left top;
}

.bg-pos-left-center {
  background-position: left center;
}

.bg-pos-left-bottom {
  background-position: left bottom;
}

.bg-pos-right-top {
  background-position: right top;
}

.bg-pos-right-center {
  background-position: right center;
}

.bg-pos-right-bottom {
  background-position: right bottom;
}

.bg-pos-center-top {
  background-position: center top;
}

.bg-pos-center-center {
  background-position: center center;
}

.bg-pos-center-bottom {
  background-position: center bottom;
}

/* end of background-position */

/* background-repeat */

.bg-repeat {
  background-repeat: repeat;
}

.bg-repeat-x {
  background-repeat: repeat-x;
}

.bg-repeat-y {
  background-repeat: repeat-y;
}

.bg-repeat-none {
  background-repeat: no-repeat;
}

.bg-repeat-initial {
  background-repeat: initial;
}

.bg-repeat-inherit {
  background-repeat: inherit;
}

/* end of background-repeat */

/* background-size */

.bg-size-auto {
  background-size: auto;
}

.bg-size-cover {
  background-size: cover;
}

.bg-size-contain {
  background-size: contain;
}

.bg-size-initial {
  background-size: initial;
}

.bg-size-inherit {
  background-size: inherit;
}

/* end of background-size */
