/* animation-direction */

.animate-dir-normal {
  animation-direction: normal;
}

.animate-dir-reverse {
  animation-direction: reverse;
}

.animate-dir-alt {
  animation-direction: alt;
}

.animate-dir-alt-reverse {
  animation-direction: alternate-reverse;
}

.animate-dir-initial {
  animation-direction: initial;
}

.animate-dir-inherit {
  animation-direction: inherit;
}

/* end of animation-direction */

/* animation-fill-mode */

.animate-fill-none {
  animation-fill-mode: none;
}

.animate-fill-forwards {
  animation-fill-mode: forwards;
}

.animate-fill-backwards {
  animation-fill-mode: backwards;
}

.animate-fill-both {
  animation-fill-mode: both;
}

.animate-fill-initial {
  animation-fill-mode: initial;
}

.animate-fill-inherit {
  animation-fill-mode: inherit;
}

/* end of animation-fill-mode */

/* animation-iteration-count */

.animate-iterate-infinite {
  animation-iteration-count: infinite;
}

.animate-iterate-once {
  animation-iteration-count: 1;
}

.animate-iterate-twice {
  animation-iteration-count: 2;
}

.animate-iterate-initial {
  animation-iteration-count: initial;
}

.animate-iterate-inherit {
  animation-iteration-count: inherit;
}

/* end of animation-iteration-count */
