/* animation-direction */

.animate-dir-normal {
  animation-direction: normal;
}

.animate-dir-reverse {
  animation-direction: reverse;
}

.animate-dir-alt {
  animation-direction: alt;
}

.animate-dir-alt-reverse {
  animation-direction: alternate-reverse;
}

.animate-dir-initial {
  animation-direction: initial;
}

.animate-dir-inherit {
  animation-direction: inherit;
}

/* end of animation-direction */

/* animation-fill-mode */

.animate-fill-none {
  animation-fill-mode: none;
}

.animate-fill-forwards {
  animation-fill-mode: forwards;
}

.animate-fill-backwards {
  animation-fill-mode: backwards;
}

.animate-fill-both {
  animation-fill-mode: both;
}

.animate-fill-initial {
  animation-fill-mode: initial;
}

.animate-fill-inherit {
  animation-fill-mode: inherit;
}

/* end of animation-fill-mode */

/* animation-iteration-count */

.animate-iterate-infinite {
  animation-iteration-count: infinite;
}

.animate-iterate-once {
  animation-iteration-count: 1;
}

.animate-iterate-twice {
  animation-iteration-count: 2;
}

.animate-iterate-initial {
  animation-iteration-count: initial;
}

.animate-iterate-inherit {
  animation-iteration-count: inherit;
}

/* end of animation-iteration-count */

/* animation-play-state */

.animate-state-pause {
  animation-play-state: paused;
}

.animate-state-running {
  animation-play-state: running;
}

.animate-state-inherit {
  animation-play-state: inherit;
}

.animate-state-initial {
  animation-play-state: initial;
}

/* end of animation-play-state */

/* animation-timing-function */

.animate-time-linear {
  animation-timing-function: linear;
}

.animate-time-ease {
  animation-timing-function: ease;
}

.animate-time-ease-in {
  animation-timing-function: ease-in;
}

.animate-time-ease-out {
  animation-timing-function: ease-out;
}

.animate-time-ease-in-out {
  animation-timing-function: ease-in-out;
}

.animate-time-linear {
  animation-timing-function: step-start;
}

.animate-time-linear {
  animation-timing-function: step-end;
}

/* end of animation-timing-function */
