.backface-visible {
  -moz-backface-visibility: visible;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

.backface-hidden {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.backface-initial {
  -moz-backface-visibility: initial;
  -webkit-backface-visibility: initial;
  backface-visibility: initial;
}

.backface-inherit {
  -moz-backface-visibility: inherit;
  -webkit-backface-visibility: inherit;
  backface-visibility: inherit;
}
