/* border-radius */

.border-rounded {
  border-radius: 2px;
}

.border-circle {
  border-radius: 50%;
}

/* end of border-radius */

/* border-collapse */

.border-collapse {
  border-collapse: collapse;
}

.border-collapse-sep {
  border-collapse: separate;
}

.border-collapse-initial {
  border-collapse: initial;
}

.border-collapse-inherit {
  border-collapse: inherit;
}

/* end of border-collapse */

/* border-image-repeat */

.border-img-repeat {
  border-image-repeat: repeat;
}

.border-img-repeat-stretch {
  border-image-repeat: stretch;
}

.border-img-repeat-round {
  border-image-repeat: round;
}

.border-img-repeat-space {
  border-image-repeat: space;
}

.border-img-repeat-initial {
  border-image-repeat: initial;
}

.border-img-repeat-inherit {
  border-image-repeat: inherit;
}

/* end of border-image-repeat */
