/* box-sizing */

.box-size-content {
  box-sizing: content-box;
}

.box-size-border {
  box-sizing: border-box;
}

.box-size-initial {
  box-sizing: initial;
}

.box-size-inherit {
  box-sizing: inherit;
}

/* end of box-sizing */

/* box-decoration-break */

.box-decor-break-slice {
  box-decoration-break: slice;
}

.box-decor-break-clone {
  box-decoration-break: clone;
}

.box-decor-break-initial {
  box-decoration-break: initial;
}

.box-decor-break-inherit {
  box-decoration-break: inherit;
}

.box-decor-break-unset {
  box-decoration-break: unset;
}

/* box-decoration-break */
