/* break-after */

.break-after-auto {
  break-after: auto;
}

.break-after-all {
  break-after: all;
}

.break-after-always {
  break-after: always;
}

.break-after-avoid {
  break-after: avoid;
}

.break-after-avoid-column {
  break-after: avoid-column;
}

.break-after-avoid-page {
  break-after: avoid-page;
}

.break-after-avoid-region {
  break-after: avoid-region;
}

.break-after-column {
  break-after: column;
}

.break-after-left {
  break-after: left;
}

.break-after-page {
  break-after: page;
}

.break-after-recto {
  break-after: recto;
}

.break-after-region {
  break-after: region;
}

.break-after-right {
  break-after: right;
}

.break-after-verso {
  break-after: verso;
}

.break-after-initial {
  break-after: initial;
}

.break-after-inherit {
  break-after: inherit;
}

/* end of break-after */

/* break-before */

.break-before-auto {
  break-before: auto;
}

.break-before-all {
  break-before: all;
}

.break-before-always {
  break-before: always;
}

.break-before-avoid {
  break-before: avoid;
}

.break-before-avoid-column {
  break-before: avoid-column;
}

.break-before-avoid-page {
  break-before: avoid-page;
}

.break-before-avoid-region {
  break-before: avoid-region;
}

.break-before-column {
  break-before: column;
}

.break-before-left {
  break-before: left;
}

.break-before-page {
  break-before: page;
}

.break-before-recto {
  break-before: recto;
}

.break-before-region {
  break-before: region;
}

.break-before-right {
  break-before: right;
}

.break-before-verso {
  break-before: verso;
}

.break-before-initial {
  break-before: initial;
}

.break-before-inherit {
  break-before: inherit;
}

/* end of break-before */
