/* font-kerning */

.font-kern-auto {
  font-kerning: auto;
}

.font-kern-normal {
  font-kerning: normal;
}

.font-kern-auto {
  font-kerning: none;
}

/* end of font-kerning */

/* font-feature-setting */

.font-feature-normal {
  font-feature-settings: normal;
}

.font-feature-small-caps {
  font-feature-settings: "smcp" on; /* convert caps to small caps */
}

.font-feature-small-caps-all {
  font-feature-settings: "c2sc", "smcp"; /* convert both upper and lowercase to small caps */
}

.font-feature-liga-off {
  font-feature-settings: "liga" 0; /* no common ligatures (joined characters) */
}

.font-feature-auto-frac {
  font-feature-settings: "frac"; /* enable automatic fractions */
}

/* end of font-feature-setting */
