/* font-kerning */

.font-kern-auto {
  font-kerning: auto;
}

.font-kern-normal {
  font-kerning: normal;
}

.font-kern-auto {
  font-kerning: none;
}

/* end of font-kerning */

/* font-feature-setting */

.font-feature-normal {
  font-feature-settings: normal;
}

.font-feature-small-caps {
  font-feature-settings: "smcp" on; /* convert caps to small caps */
}

.font-feature-small-caps-all {
  font-feature-settings: "c2sc", "smcp"; /* convert both upper and lowercase to small caps */
}

.font-feature-liga-off {
  font-feature-settings: "liga" 0; /* no common ligatures (joined characters) */
}

.font-feature-auto-frac {
  font-feature-settings: "frac"; /* enable automatic fractions */
}

/* end of font-feature-setting */

/* font-size */

.font-sm-xx {
  font: xx-small;
}

.font-sm-x {
  font: x-small;
}

.font-sm {
  font: small;
}

.font-smaller {
  font: smaller;
}

.font-med {
  font: medium;
}

.font-larger {
  font: larger;
}

.font-lg {
  font: large;
}

.font-lg-x {
  font: x-large;
}

.font-lg-xx {
  font: xx-large;
}

.font-size-initial {
  font: initial;
}

.font-size-inherit {
  font: inherit;
}

.font-size-inherit {
  font: inherit;
}

/* end of font-size */

/* font-stretch */

.font-stretch-normal {
  font-stretch: normal;
}

.font-stretch-condense-semi {
  font-stretch: semi-condensed;
}

.font-stretch-condense {
  font-stretch: condensed;
}

.font-stretch-condense-extra {
  font-stretch: extra-condensed;
}

.font-stretch-condense-ultra {
  font-stretch: ultra-condensed;
}

.font-stretch-expand-semi {
  font-stretch: semi-expanded;
}

.font-stretch-expand {
  font-stretch: expanded;
}

.font-stretch-expand-extra {
  font-stretch: extra-expanded;
}

.font-stretch-expand-ultra {
  font-stretch: ultra-expanded;
}

.font-stretch-initial {
  font-stretch: initial;
}

.font-stretch-inherit {
  font-stretch: inherit;
}

.font-stretch-wider {
  font-stretch: wider;
}

/* end of font-stretch */

/* font-style */

.font-style-normal {
  font-style: normal;
}

.font-style-italic {
  font-style: italic;
}

.font-style-oblique {
  font-style: oblique;
}

.font-style-initial {
  font-style: initial;
}

.font-style-inherit {
  font-style: inherit;
}

/* end of font-style */

/* font-variant */

.font-variant-normal {
  font-variant: normal;
}

.font-variant-small-caps {
  font-variant: small-caps;
}

.font-variant-initial {
  font-variant: initial;
}

.font-variant-inherit {
  font-variant: inherit;
}

/* end of font-variant */

/* font-variant-caps */

.font-variant-caps-normal {
  font-variant-caps: normal;
}

.font-variant-caps-small {
  font-variant-caps: small-caps;
}

.font-variant-caps-allsmall {
  font-variant-caps: all-small-caps;
}

.font-variant-caps-petite {
  font-variant-caps: petite-caps;
}

.font-variant-caps-allpetite {
  font-variant-caps: all-petite-caps;
}

.font-variant-caps-unicase {
  font-variant-caps: unicase;
}

.font-variant-caps-titling {
  font-variant-caps: titling-caps;
}

.font-variant-caps-initial {
  font-variant-caps: initial;
}

.font-variant-caps-inherit {
  font-variant-caps: inherit;
}

.font-variant-caps-unset {
  font-variant-caps: unset;
}

/* end of font-variant-caps */
