/* mask-mode (only supported in Firefox) */

.mask-mode-source {
  mask-mode: match-source;
}

.mask-mode-luminance {
  mask-mode: luminance;
}

.mask-mode-alpha {
  mask-mode: alpha;
}

.mask-mode-initial {
  mask-mode: initial;
}

.mask-mode-inherit {
  mask-mode: inherit;
}

/* end of mask-mode */

/* mask-origin */

.mask-orig-border {
  mask-origin: border-box;
}

.mask-orig-content {
  mask-origin: content-box;
}

.mask-orig-padding {
  mask-origin: padding-box;
}

.mask-orig-margin {
  mask-origin: margin-box;
}

.mask-orig-fill {
  mask-origin: fill-box;
}

.mask-orig-stroke {
  mask-origin: stroke-box;
}

.mask-orig-view {
  mask-origin: view-box;
}

.mask-orig-initial {
  mask-origin: initial;
}

.mask-orig-inherit {
  mask-origin: inherit;
}

/* end of mask-origin */

/* mask-position */

.mask-pos-left-top {
  mask-position: left top;
}

.mask-pos-left-center {
  mask-position: left center;
}

.mask-pos-left-bottom {
  mask-position: left bottom;
}

.mask-pos-right-top {
  mask-position: right top;
}

.mask-pos-right-center {
  mask-position: right center;
}

.mask-pos-right-bottom {
  mask-position: right bottom;
}

.mask-pos-center-top {
  mask-position: center top;
}

.mask-pos-center-center {
  mask-position: center center;
}

.mask-pos-center-bottom {
  mask-position: center bottom;
}

/* end of mask-position */