/* Note: The overflow property only works for block elements with a specified height. */
/* overflow */

.overflow-scroll {
  overflow: scroll;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

.overflow-clip {
  overflow: clip;
}

.overflow-visible {
  overflow: visible;
}

/* end of overflow */

/* overflow-x */

.overflow-x-scroll {
  overflow-x: scroll;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-x-clip {
  overflow-x: clip;
}

.overflow-x-visible {
  overflow-x: visible;
}

/* end of overflow-x */

/* overflow-wrap */

.overflow-wrap-normal {
  overflow-wrap: normal;
}

.overflow-wrap-anywhere {
  overflow-wrap: anywhere;
}

.overflow-wrap-break-word {
  overflow-wrap: break-word;
}

.overflow-wrap-initial {
  overflow-wrap: initial;
}

.overflow-wrap-inherit {
  overflow-wrap: inherit;
}

/* end of overflow-wrap */
