.user-select-auto {
  user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  -webkit-user-select: auto;
}

.user-select-none {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.user-select-text {
  user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -webkit-user-select: text;
}

.user-select-all {
  user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  -webkit-user-select: all;
}
