.align-c-flex-start {
  align-content: flex-start;
}

.align-c-center {
  align-content: center;
}

.align-c-flex-end {
  align-content: flex-end;
}

.align-c-stretch {
  align-content: stretch;
}

.align-c-space-around {
  align-content: space-around;
}

.align-c-space-between {
  align-content: space-between;
}
