.d-flex {
  display: flex;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* flex-direction */

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

/* end of flex-direction */

/* flex-wrap */

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-no {
  flex-wrap: nowrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

/* end of flex-wrap */

/* justify-content */

.justify-flex-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-evenly {
  justify-content: space-evenly;
}

/* end of justify-content */

/* align-items */

.align-i-flex-start {
  align-items: flex-start;
}

.align-i-center {
  align-items: center;
}

.align-i-flex-end {
  align-items: flex-end;
}

.align-i-stretch {
  align-items: stretch;
}

.align-i-baseline {
  align-items: baseline;
}

/* end of align-items */

/* align-content */

.align-c-flex-start {
  align-content: flex-start;
}

.align-c-center {
  align-content: center;
}

.align-c-flex-end {
  align-content: flex-end;
}

.align-c-stretch {
  align-content: stretch;
}

.align-c-space-around {
  align-content: space-around;
}

.align-c-space-between {
  align-content: space-between;
}

/* end of align-content */

/* align-self */

.align-s-auto {
  align-self: auto;
}

.align-s-stretch {
  align-self: stretch;
}

.align-s-center {
  align-self: center;
}

.align-s-flex-start {
  align-self: flex-start;
}

.align-s-flex-end {
  align-self: flex-end;
}

.align-s-baseline {
  align-self: baseline;
}

.align-s-initial {
  align-self: initial;
}

.align-s-inherit {
  align-self: inherit;
}

/* end of align-self */
