/***********************************************************************************
 * Note: Browsers may interpret "left" and "right" as "always".
 * Note: no browser currently supports "avoid".
 * The properties: page-break-before, page-break-after and page-break-inside help
 * to define how a document should behave when printed. */

.page-break-before-auto {
  page-break-before: auto;
}

.page-break-before-always {
  page-break-before: always;
}

.page-break-before-avoid {
  page-break-before: avoid;
}

.page-break-before-left {
  page-break-before: left;
}

.page-break-before-right {
  page-break-before: right;
}

.page-break-before-initial {
  page-break-before: initial;
}

.page-break-before-inherit {
  page-break-before: inherit;
}
