/***********************************************************************************
 * Note: You cannot use this property on absolutely positioned elements.
 * The properties: page-break-before, page-break-after and page-break-inside help
 * to define how a document should behave when printed. */

.page-break-inside-auto {
  page-break-inside: auto;
}

.page-break-inside-always {
  page-break-inside: always;
}

.page-break-inside-avoid {
  page-break-inside: avoid;
}

.page-break-inside-left {
  page-break-inside: left;
}

.page-break-inside-right {
  page-break-inside: right;
}

.page-break-inside-initial {
  page-break-inside: initial;
}

.page-break-inside-inherit {
  page-break-inside: inherit;
}
