/***********************************************************************************
 * Note: Browsers may interpret "left" and "right" as "always".
 * Note: no browser currently supports "avoid".
 * The properties: page-break-before, page-break-after and page-break-inside help
 * to define how a document should behave when printed. */

.page-break-after-auto {
  page-break-after: auto;
}

.page-break-after-always {
  page-break-after: always;
}

.page-break-after-avoid {
  page-break-after: avoid;
}

.page-break-after-left {
  page-break-after: left;
}

.page-break-after-right {
  page-break-after: right;
}

.page-break-after-initial {
  page-break-after: initial;
}

.page-break-after-inherit {
  page-break-after: inherit;
}
