/* column-fill */

.col-fill-balance {
  column-fill: balance;
}

.col-fill-auto {
  column-fill: auto;
}

.col-fill-initial {
  column-fill: initial;
}

.col-fill-inherit {
  column-fill: inherit;
}

/* end of column-fill */

/* column-rule-style */

.col-rule-style-none {
  column-rule-style: none;
}

.col-rule-style-hidden {
  column-rule-style: hidden;
}

.col-rule-style-dotted {
  column-rule-style: dotted;
}

.col-rule-style-dashed {
  column-rule-style: dashed;
}

.col-rule-style-solid {
  column-rule-style: solid;
}

.col-rule-style-double {
  column-rule-style: double;
}

.col-rule-style-groove {
  column-rule-style: groove;
}

.col-rule-style-ridge {
  column-rule-style: ridge;
}

.col-rule-style-inset {
  column-rule-style: inset;
}

.col-rule-style-outset {
  column-rule-style: outset;
}

.col-rule-style-initial {
  column-rule-style: initial;
}

.col-rule-style-inherit {
  column-rule-style: inherit;
}

/* end of column-rule-style */

/* column-rule-width */

.col-rule-width-med {
  column-rule-width: medium;
}

.col-rule-width-thin {
  column-rule-width: thin;
}

.col-rule-width-thick {
  column-rule-width: thick;
}

.col-rule-width-length {
  column-rule-width: length;
}

.col-rule-width-initial {
  column-rule-width: initial;
}

.col-rule-width-inherit {
  column-rule-width: inherit;
}

/* end of column-rule-width */

/* column-span */

.col-span-none {
  column-span: none;
}

.col-span-all {
  column-span: all;
}

.col-span-initial {
  column-span: initial;
}

.col-span-inherit {
  column-span: inherit;
}

/* end of column-span */
