.mask-pos-left-top {
  mask-position: left top;
  -webkit-mask-position: left top;
}

.mask-pos-left-center {
  mask-position: left center;
  -webkit-mask-position: left center;
}

.mask-pos-left-bottom {
  mask-position: left bottom;
  -webkit-mask-position: left bottom;
}

.mask-pos-right-top {
  mask-position: right top;
  -webkit-mask-position: right top;
}

.mask-pos-right-center {
  mask-position: right center;
  -webkit-mask-position: right center;
}

.mask-pos-right-bottom {
  mask-position: right bottom;
  -webkit-mask-position: right bottom;
}

.mask-pos-center-top {
  mask-position: center top;
  -webkit-mask-position: center top;
}

.mask-pos-center-center {
  mask-position: center center;
  -webkit-mask-position: center center;
}

.mask-pos-center-bottom {
  mask-position: center bottom;
  -webkit-mask-position: center bottom;
}
