.mask-repeat {
  mask-repeat: repeat;
  -webkit-mask-repeat: repeat;
}

.mask-repeat-x {
  mask-repeat: repeat-x;
  -webkit-mask-repeat: repeat-x;
}

.mask-repeat-y {
  mask-repeat: repeat-y;
  -webkit-mask-repeat: repeat-y;
}

.mask-repeat-none {
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}

.mask-repeat-initial {
  mask-repeat: initial;
  -webkit-mask-repeat: initial;
}

.mask-repeat-inherit {
  mask-repeat: inherit;
  -webkit-mask-repeat: inherit;
}
