.font-weight-lighter {
  font-weight: lighter;
}

.font-weight-normal {
  font-weight: normal;
}

.font-weight-bold {
  font-weight: bold;
}

.font-weight-bolder {
  font-weight: bolder;
}

.font-weight-initial {
  font-weight: initial;
}

.font-weight-inherit {
  font-weight: inherit;
}
