.font-feature-normal {
  font-feature-settings: normal;
}

.font-feature-small-caps {
  font-feature-settings: "smcp" on; /* convert caps to small caps */
}

.font-feature-small-caps-all {
  font-feature-settings: "c2sc", "smcp"; /* convert both upper and lowercase to small caps */
}

.font-feature-liga-off {
  font-feature-settings: "liga" 0; /* no common ligatures (joined characters) */
}

.font-feature-auto-frac {
  font-feature-settings: "frac"; /* enable automatic fractions */
}
