.outline-width-thin {
  outline-width: thin;
}

.outline-width-med {
  outline-width: medium;
}

.outline-width-thick {
  outline-width: thick;
}

.outline-width-initial {
  outline-width: initial;
}

.outline-width-inherit {
  outline-width: inherit;
}
