/* Note: Outlines differ from borders! Unlike border, the outline is drawn outside the element's
 * border, and may overlap other content. Also, the outline is NOT a part of the element's
 * dimensions; the element's total width and height is not affected by the width of the outline.*/

.outline-style-dotted {
  outline-style: dotted;
}

.outline-style-dashed {
  outline-style: dashed;
}

.outline-style-solid {
  outline-style: solid;
}

.outline-style-double {
  outline-style: double;
}

.outline-style-groove {
  outline-style: groove;
}

.outline-style-ridge {
  outline-style: ridge;
}

.outline-style-inset {
  outline-style: inset;
}

.outline-style-outset {
  outline-style: outset;
}
