.animate-fill-none {
  animation-fill-mode: none;
}

.animate-fill-forwards {
  animation-fill-mode: forwards;
}

.animate-fill-backwards {
  animation-fill-mode: backwards;
}

.animate-fill-both {
  animation-fill-mode: both;
}

.animate-fill-initial {
  animation-fill-mode: initial;
}

.animate-fill-inherit {
  animation-fill-mode: inherit;
}
