.animate-time-linear {
  animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
}

.animate-time-ease {
  animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
}

.animate-time-ease-in {
  animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  -o-animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
}

.animate-time-ease-out {
  animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
}

.animate-time-ease-in-out {
  animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}

.animate-time-step-start {
  animation-timing-function: step-start;
  -moz-animation-timing-function: step-start;
  -o-animation-timing-function: step-start;
  -webkit-animation-timing-function: step-start;
}

.animate-time-step-end {
  animation-timing-function: step-end;
  -moz-animation-timing-function: step-end;
  -o-animation-timing-function: step-end;
  -webkit-animation-timing-function: step-end;
}
