.animate-iterate-infinite {
  animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

.animate-iterate-once {
  animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
}

.animate-iterate-twice {
  animation-iteration-count: 2;
  -moz-animation-iteration-count: 2;
  -o-animation-iteration-count: 2;
  -webkit-animation-iteration-count: 2;
}

.animate-iterate-initial {
  animation-iteration-count: initial;
  -moz-animation-iteration-count: initial;
  -o-animation-iteration-count: initial;
  -webkit-animation-iteration-count: initial;
}

.animate-iterate-inherit {
  animation-iteration-count: inherit;
  -moz-animation-iteration-count: inherit;
  -o-animation-iteration-count: inherit;
  -webkit-animation-iteration-count: inherit;
}
