/* Note: The overflow property only works for block elements with a specified height. */
/* overflow */

.overflow-x-scroll {
  overflow-x: scroll;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-x-clip {
  overflow-x: clip;
}

.overflow-x-visible {
  overflow-x: visible;
}
