/* The empty-cells property sets whether or not to display borders on empty cells in a table.
 * Note: This property has no effect if border-collapse is "collapse". */

.empty-cells-show {
  empty-cells: show;
}

.empty-cells-hide {
  empty-cells: hide;
}

.empty-cells-initial {
  empty-cells: initial;
}

.empty-cells-inherit {
  empty-cells: inherit;
}
