/***********************************************************************************************
 * The text-align-last property sets the alignment for all last lines within the selected
 * element. So, if you have a <div> with three paragraphs in it, text-align-last will apply
 * to the last line of EACH of the paragraphs. To use text-align-last on only the last paragraph
 * in the container, you can use :last child, see example below.
 * Note: In Edge prior 79, the text-align-last property only works on text that has
 * "text-align: justify". */

.text-last-left {
  text-align: justify; /* for Edge */
  text-align-last: left;
}

.text-last-right {
  text-align: justify; /* for Edge */
  text-align-last: right;
}

.text-last-center {
  text-align: justify; /* for Edge */
  text-align-last: center;
}

.text-last-start {
  text-align: justify; /* for Edge */
  text-align-last: start;
}

.text-last-end {
  text-align: justify; /* for Edge */
  text-align-last: end;
}
