/* The text-justify property specifies the justification method of text 
 * when text-align is set to "justify". */

.text-justify {
  text-align: justify;
}

.text-justify-word {
  text-align: justify;
  text-justify: inter-word;
}

.text-justify-char {
  text-align: justify;
  text-justify: inter-character;
}

.text-justify-cluster {
  text-align: justify;
  text-justify: inter-cluster;
}

.text-justify-ideograph {
  text-align: justify;
  text-justify: inter-ideograph;
}

.text-justify-auto {
  text-align: justify;
  text-justify: auto;
}

.text-justify-none {
  text-align: justify;
  text-justify: none;
}
