.bg-clip-border {
  background-clip: border-box;
}

.bg-clip-padding {
  background-clip: padding-box;
}

.bg-clip-content {
  background-clip: content-box;
}

.bg-clip-initial {
  background-clip: initial;
}

.bg-clip-inherit {
  background-clip: inherit;
}
